*~
*.bak
*.orig
*.zip
*.sh
*.tar.gz

debian/files
debian/faba-mono-icons .debhelper.log
debian/faba-mono-icons .postinst.debhelper
debian/faba-mono-icons .postrm.debhelper
debian/faba-mono-icons .prerm.debhelper
debian/faba-mono-icons .substvars
debian/faba-mono-icons 

data
data/
data/*

backup-src
backup-src/
backup-src/*