Package: faba-mono-icons
Version: 1.0
Architecture: all
Maintainer: Sam Hewitt <hewittsamuel@gmail.com>
Installed-Size: 873
Depends: faba-icon-theme
Section: gnome
Priority: optional
Homepage: https://github.com/snwh/faba-mono-icons
Description: faba Icon Theme
 faba desktop icon theme (symbolic icons)
 Stylised icons that are symbolic variations on the standard theme.
