Source: faba-mono-icons
Section: gnome
Priority: optional
Maintainer: Sam Hewitt <hewittsamuel@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: https://github.com/snwh/faba-mono-icons


Package: faba-mono-icons
Architecture: all
Depends: ${misc:Depends}
 faba-icon-theme
Description: faba Icon Theme
 faba desktop icon theme (symbolic icons)
 Stylised icons that are symbolic variations on the standard theme.
